@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    background: rgb(217, 225, 240);
    line-height: 1.5;
    color: #333;
}

.container{
    max-width: 960px;
    margin: 100px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    gap:10px;

    /* grid-template-rows:200px 50px 300px; */
    /* grid-auto-rows: minmax(200px , auto); */
    /* align-items: end; */

}

.item{
    background: crimson;
    color: #fff;
    font-size: 18px;
    padding: 20px;
    border: 1px solid skyblue;
    cursor: pointer;
}


/* .item:nth-of-type(2){
    height: 100px;
    width: 100px;
    background: red;
    align-self: end;
}
 */


/* .item:nth-of-type(1){
     background: rgb(17, 21, 22);
     /* grid-column-start: 1;
     grid-column-end: 3; */
     /* grid-column: 1 / 3; 

*/
  



/* column-gap:20px or 
row-gap:20px == 
gap: 20px 
 
align-self for items in thd=e div or 
container
*/